.title-block {
	text-align: center;

	h1 {
		padding-left: .5rem;
		color: white;
		font: 10rem DinCondensed;
		line-height: 8rem;
		text-transform: uppercase;
	}

	h2 {
		margin-top: 2rem;
		color: white;
		font: 3rem Simplifica;
		letter-spacing: .1rem;
	}
}
